version: 2
jobs:
  unit_test:
    docker:
    - image: circleci/python:3.5.4
    steps:
    - checkout
    - run: sudo pip install -r requirements.txt
    - run: sudo pip install -r .circleci/test_requirements.txt
    - run: git config --global user.email "test@test.invalid"
    - run: git config --global user.name "Tester Tester"
    - run: py.test --cov=lzdeb test/
    - run: pylint -E lzdeb test
    - run: pycodestyle lzdeb test
    - run: mypy lzdeb test
  package:
    docker:
    - image: circleci/python:3.5.4
    steps:
    - checkout
    - run: sudo pip install -r requirements.txt
    - run: python3 setup.py sdist bdist_wheel
  functional_test:
    docker:
    - image: circleci/python:3.5.4
    steps:
    - checkout
    - run: sudo pip install -r requirements.txt
    - setup_remote_docker
    - run: PYTHONPATH=$(pwd) scripts/lzdeb build --verbose examples/ripgrep
workflows:
  version: 2
  test_all:
    jobs:
    - functional_test
    - unit_test
    - package
